body {
  margin: 0;
  overflow: hidden;
}

.animal-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  font-size: 18px;
  background: #ffc107;
  border: none;
  border-radius: 10px;
  display: none;
  z-index: 5;
}

#status {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 32px;
  z-index: 5;
  text-shadow: 0 0 5px black;
}

.animal-button i {
  font-size: 32px;
  color: black;
}

.animal-button:hover {
  background-color: #ff9800;
  cursor: pointer;
}
